/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Base

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

*::selection {
	color: #b7ddff;
	background-color: #393cff;
	box-shadow: 0 -1px 3px rgba(0, 0, 55, 1) inset;
}

html {
	height: 100%;
	font-size: 10px;
}

body {
	height: 100%;
	font-size: 1.3rem;
	letter-spacing: .1em;
	color: #fff;
	background-color: #222;
	overflow: hidden;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #666;
	&:hover {
		color: #fff;
		border-bottom-color: #fff;
	}
}

em {
	color: yellow;
	font-style: normal;
	font-weight: bold;
}

pre {
	padding: 0 1em;
	border-left: 5px solid rgba(0,0,0,.2);
	position: relative;
	line-height: 1.5;
	width: 150px;
	color: #ccc;
	font-family: consolas, monaco, "Andale Mono", monospace;
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: -5px;
		width: 5px;
	}
	&::before {
		top: 0;
		border-top: 1px solid rgba(255, 255, 255, .8);
	}
	&::after {
		bottom: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .8);
	}
	span {
		text-shadow: 0 0 1px rgba(0,0,0,1);
	}
}

blockquote {
	margin: 4% 0;
	padding-left: 1em;
	border-left: 5px solid rgba(0,0,0,.2);
	p {
		color: #aaa;
	}
}

table {
	margin: 2em 0;
	border-collapse: collapse;
	color: #eee;
	em {
		font-weight: normal;
		color: #fff;
	}
	&.wide {
		width: 100%;
	}
}

th,td {
	border: 1px solid rgba(0,0,0,.5);
	padding: .3rem .5rem;
}

th {
	background-color: rgba(0,0,0, .2);
	font-weight: normal;
}

td {
	border: 1px solid #222;
	color: #ccc;
	ul {
		margin: 0!important;
	}
	&.size {

	}
	&.file {

	}
}

/*-----------------------
	form
-----------------------*/

fieldset,
input,
select, {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: none;
	margin: .5rem 0;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

input {
	padding: .5rem .8rem;
	line-height: 1;
	font-size: 1.3rem;
	color: #fff;
	background-color: #000;
	&[type="button"] {
		transition-property: background-color;
		transition-duration: .1s;
		text-transform: uppercase;
		font-weight: bold;
		color: #000;
		background-color: #fff;
		&:hover {
			color: #fff;
			background-color: #3014e2;
			box-shadow: 0 0 10px rgba(0, 0, 255, 1);
		}
	}
}

.dummy,
select {
	padding: 5px 20px 5px 10px;
	line-height: 1;
	letter-spacing: 0;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
	font-size: 12px;
	background: url("../img/cursor_selectbox.png") no-repeat calc(100% - 5px) center;
}

.dummy {
	position: absolute;
	visibility: hidden;
}

select {
	border-radius: 0;
	letter-spacing: 0;
	line-height: 1;
	color: #fff;
	background-color: #000;
}
