/*!
 * A.css - https://github.com/w4u-public/A.css/
 * Version: 1.0
 * License: MIT
 */
 
@import '_init';
@import 'plugins/_fade';
@import 'plugins/_slide';
@import 'plugins/_rotate';
@import 'plugins/_scale';
@import 'plugins/_spiral';
@import 'plugins/_viblate';
@import 'plugins/_perspective';
@import 'plugins/_bounce';
@import 'plugins/_shake';
@import 'plugins/_flick';
@import 'plugins/_modifier';
