/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Event

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*-----------------------
	Hover
-----------------------*/

[:--A*="_hover"],
[:--A*="_HOVER"] > * {
	animation-name: none;
	&:hover {
		animation-name:
			var(--A_A1, none),
			var(--A_A2, none),
			var(--A_A3, none)
		;
	}
}

/* Transition */
[:--A*="_hover-t"],
[:--A*="_HOVER-t"] > * {
	transition-property: all;
	transition-duration: calc(var(--A_T) * var(--A_T-D, 1) * 1s);
	transition-timing-function: var(--A_E);
	transition-delay: var(--A_D);

	&:hover {
		animation-name: none;
		transform:
			perspective(var(--A_P))
			translate3d(var(--A_TX1, 0), var(--A_TY1, 0), var(--A_TZ1, 0))
			scale3d(var(--A_SX1, 1), var(--A_SY1, 1), var(--A_SZ1, 1))
			rotateX(var(--A_RX1, 0))
			rotateY(var(--A_RY1, 0))
			rotateZ(var(--A_RZ1, 0))
		;
	}
}
