/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Modifier

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*-----------------------
	Repeat
-----------------------*/

[:--A*="_repeat"],
[:--A*="@ROTATE-"][:--A*="_repeat"] > * {
	--A_C: var(--A_C-V, infinite)!important;
}

[:--A*="_repeat-1"] {
	--A_C-V: 1;
}

[:--A*="_repeat-2"] {
	--A_C-V: 2;
}

[:--A*="_repeat-3"] {
	--A_C-V: 3;
}

[:--A*="_repeat-4"] {
	--A_C-V: 4;
}

[:--A*="_repeat-5"] {
	--A_C-V: 5;
}

/*-----------------------
	Direction
-----------------------*/

[:--A*="_alternate"] {
	--A_DR: alternate;
}

/*-----------------------
	Duration
-----------------------*/

/* Up */
[:--A*="_speed-up"] {
	--A_T: 1;
}

[:--A*="_speed-up+"] {
	--A_T: .8;
}

[:--A*="_speed-up++"] {
	--A_T: .6;
}

[:--A*="_speed-up+++"] {
	--A_T: .4;
}

[:--A*="_speed-up++++"] {
	--A_T: .2;
}

/* Down */
[:--A*="_speed-down"] {
	--A_T: 2;
}

[:--A*="_speed-down+"] {
	--A_T: 4;
}

[:--A*="_speed-down++"] {
	--A_T: 6;
}

[:--A*="_speed-down+++"] {
	--A_T: 8;
}

[:--A*="_speed-down++++"] {
	--A_T: 10;
}

/*-----------------------
	Intensity
-----------------------*/

/* Up */
[:--A*="_level-up"] {
	--A_L: 2;
}

[:--A*="_level-up+"] {
	--A_L: 3;
}

[:--A*="_level-up++"] {
	--A_L: 4;
}

[:--A*="_level-up+++"] {
	--A_L: 5;
}

[:--A*="_level-up++++"] {
	--A_L: 6;
}

/* Down */
[:--A*="_level-down"] {
	--A_L: .5;
}

[:--A*="_level-down+"] {
	--A_L: .25;
}

[:--A*="_level-down++"] {
	--A_L: .12;
}

[:--A*="_level-down+++"] {
	--A_L: .06;
}

[:--A*="_level-down++++"] {
	--A_L: .03;
}

/*-----------------------
	Easing
-----------------------*/

[:--A*="_ease"],
[:--A*="_ease"] > * {
	--A_E: var(--A_E-V, ease)!important;
}

[:--A*="_ease-linear"] {
	--A_E-V: linear;
}

[:--A*="_ease-expo"] {
	--A_E-V: var(--A_expo);
}

[:--A*="_ease-circ"] {
	--A_E-V: var(--A_circ);
}

[:--A*="_ease-back"] {
	--A_E-V: var(--A_back);
}

[:--A*="_ease-in"] {
	--A_E-V: ease-in;
}

[:--A*="_ease-in-out"] {
	--A_E-V: ease-in-out;
}

[:--A*="_ease-in-expo"] {
	--A_E-V: var(--A_in_expo);
}

[:--A*="_ease-in-circ"] {
	--A_E-V: var(--A_in-circ);
}

[:--A*="_ease-in-back"] {
	--A_E-V: var(--A_in-back);
}

[:--A*="_ease-out"] {
	--A_E-V: ease-out;
}

[:--A*="_ease-out-expo"] {
	--A_E-V: var(--A_out-expo);
}

[:--A*="_ease-out-circ"] {
	--A_E-V: var(--A_out_circ);
}

[:--A*="_ease-out-back"] {
	--A_E-V: var(--A_out-back);
}

/*-----------------------
	Transform origin
-----------------------*/

[:--A*="_origin-t"] {
	--A_O: top;
}

[:--A*="_origin-r"] {
	--A_O: right;
}

[:--A*="_origin-tr"] {
	--A_O: right top;
}

[:--A*="_origin-b"] {
	--A_O: bottom;
}

[:--A*="_origin-br"] {
	--A_O: right bottom;
}

[:--A*="_origin-l"] {
	--A_O: left;
}

[:--A*="_origin-bl"] {
	--A_O: left bottom;
}

[:--A*="_origin-tl"] {
	--A_O: top left;
}

/*-----------------------
	Delay
-----------------------*/

[:--A*="_delay-1"] {
	--A_D: .5s;
}

[:--A*="_delay-2"] {
	--A_D: 1s;
}

[:--A*="_delay-3"] {
	--A_D: 1.5s;
}

[:--A*="_delay-4"] {
	--A_D: 2s;
}

[:--A*="_delay-5"] {
	--A_D: 2.5s;
}

[:--A*="_delay-6"] {
	--A_D: 3s;
}

[:--A*="_delay-7"] {
	--A_D: 3.5s;
}

[:--A*="_delay-8"] {
	--A_D: 4s;
}

[:--A*="_delay-9"] {
	--A_D: 4.5s;
}

[:--A*="_delay-10"] {
	--A_D: 5s;
}

/*-----------------------
	Perspective
-----------------------*/

[:--A*="_perspective-"] {
	perspective: var(--A_P);
}

[:--A*="_perspective-0"] {
	--A_P: 0px;
}

[:--A*="_perspective-1"] {
	--A_P: 600px;
}

[:--A*="_perspective-2"] {
	--A_P: 400px;
}

[:--A*="_perspective-3"] {
	--A_P: 200px;
}

/* vw */
[:--A*="_perspective-1-vw"] {
	--A_P: 100vw;
}

[:--A*="_perspective-2-vw"] {
	--A_P: 60vw;
}

[:--A*="_perspective-3-vw"] {
	--A_P: 40vw;
}

/* vh */
[:--A*="_perspective-1-vh"] {
	--A_P: 100vh;
}

[:--A*="_perspective-2-vh"] {
	--A_P: 60vh;
}

[:--A*="_perspective-3-vh"] {
	--A_P: 40vh;
}


