/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

	Timing shift

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*-----------------------
	Ascend
-----------------------*/

[:--A*="_ascend"] > * {
	animation-delay: calc(.1s * var(--A_LG, 0) * var(--A_VL, 1));
}

[:--A*="_ascend"] > * {
	&:nth-child(2) {
		--A_LG: 1;
	}
	&:nth-child(3) {
		--A_LG: 2;
	}
	&:nth-child(4) {
		--A_LG: 3;
	}
	&:nth-child(5) {
		--A_LG: 4;
	}
	&:nth-child(6) {
		--A_LG: 5;
	}
	&:nth-child(7) {
		--A_LG: 6;
	}
	&:nth-child(8) {
		--A_LG: 7;
	}
	&:nth-child(9) {
		--A_LG: 8;
	}
	&:nth-child(10) {
		--A_LG: 9;
	}
	&:nth-child(11) {
		--A_LG: 10;
	}
	&:nth-child(12) {
		--A_LG: 11;
	}
	&:nth-child(13) {
		--A_LG: 12;
	}
	&:nth-child(14) {
		--A_LG: 13;
	}
	&:nth-child(15) {
		--A_LG: 14;
	}
	&:nth-child(16) {
		--A_LG: 15;
	}
	&:nth-child(17) {
		--A_LG: 16;
	}
	&:nth-child(18) {
		--A_LG: 17;
	}
	&:nth-child(19) {
		--A_LG: 18;
	}
	&:nth-child(20) {
		--A_LG: 19;
	}
}

/*-----------------------
	Descend
-----------------------*/

[:--A*="_descend"] > * {
	animation-delay: calc(.1s * var(--A_LG, 0) * var(--A_VL, 1));
}

[:--A*="_descend"] > * {
	&:nth-last-child(2) {
		--A_LG: 1;
	}
	&:nth-last-child(3) {
		--A_LG: 2;
	}
	&:nth-last-child(4) {
		--A_LG: 3;
	}
	&:nth-last-child(5) {
		--A_LG: 4;
	}
	&:nth-last-child(6) {
		--A_LG: 5;
	}
	&:nth-last-child(7) {
		--A_LG: 6;
	}
	&:nth-last-child(8) {
		--A_LG: 7;
	}
	&:nth-last-child(9) {
		--A_LG: 8;
	}
	&:nth-last-child(10) {
		--A_LG: 9;
	}
	&:nth-last-child(11) {
		--A_LG: 10;
	}
	&:nth-last-child(12) {
		--A_LG: 11;
	}
	&:nth-last-child(13) {
		--A_LG: 12;
	}
	&:nth-last-child(14) {
		--A_LG: 13;
	}
	&:nth-last-child(15) {
		--A_LG: 14;
	}
	&:nth-last-child(16) {
		--A_LG: 15;
	}
	&:nth-last-child(17) {
		--A_LG: 16;
	}
	&:nth-last-child(18) {
		--A_LG: 17;
	}
	&:nth-last-child(19) {
		--A_LG: 18;
	}
	&:nth-last-child(20) {
		--A_LG: 19;
	}
}

/*-----------------------
	Odd - Even
-----------------------*/

[:--A*="_odd"] > *,
[:--A*="_even"] > * {
	animation-delay: calc(.1s * var(--A_LG, 0) * var(--A_VL, 1));
}

[:--A*="_odd"] {
	> * {
		--A_LG: 1;
	}
	> :nth-child(odd) {
		--A_LG: 2;
	}
}

[:--A*="_even"] {
	> * {
		--A_LG: 2;
	}
	> :nth-child(odd) {
		--A_LG: 1;
	}
}

/*-----------------------
	Velocity
-----------------------*/

/* Up */
[:--A*="_ascend-up"],
[:--A*="_descend-up"] {
	--A_VL: .8;
}

[:--A*="_ascend-up+"],
[:--A*="_descend-up+"] {
	--A_VL: .4;
}

[:--A*="_ascend-up++"],
[:--A*="_descend-up++"] {
	--A_VL: .2;
}

[:--A*="_ascend-max"],
[:--A*="_descend-max"],
[:--A*="_ascend-up+++"],
[:--A*="_descend-up+++"] {
	--A_VL: .1;
}

/* Down */
[:--A*="_ascend-down"],
[:--A*="_descend-down"] {
	--A_VL: 1.2;
}

[:--A*="_ascend-down+"],
[:--A*="_descend-down+"] {
	--A_VL: 1.4;
}

[:--A*="_ascend-down++"],
[:--A*="_descend-down++"] {
	--A_VL: 1.8;
}

[:--A*="_ascend-min"],
[:--A*="_descend-min"],
[:--A*="_ascend-down+++"],
[:--A*="_descend-down+++"] {
	--A_VL: 2.2;
}
